<a class="recipe-card" href={{cardstack-url content}}>
  <div class="image-holder" style="background-image: url({{content.image.imageFile.url}})">
    <div class="image-cover"></div>
  </div>
  <div class="text-holder">
    <h3>{{content.title}}</h3>
    <div>
      {{svg-jar "timer"}} {{content.preparationTime}} min
    </div>
  </div>
</a>
